/* style.css */
/* 메인컬러: #00286c */


*{
  margin: 0; padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
  color: #203053;
}
ul {list-style-type: none;}
body {
  font-family: 'Noto Sans KR', sans-serif;
}


/* header */
#main_header {
  /* outline: 1px solid blue; */
  width: 1200px;
  height: 100px;
  position: relative;
  margin: 0 auto;
}
#main_header img {
width: 100%;
}
/* logo */
#main_header > h1 > a {
  /* outline: 1px solid red; */
  position: absolute;
  top: 25px;
  left: 35px;
}
/* language */
#main_header > .language {
  /* outline: 1px solid red; */
  position: absolute;
  top: 40px;
  right: 110px;
  word-spacing: 7px;
}
#main_header > .language > li {
  float: left;
  text-transform: uppercase;
}
#main_header > .language > li:first-child {
  font-weight: bold;
}

/* gnb */
#gnb {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* depth1 */
#gnb > .depth1 {
  /* outline: 1px solid red; */
  position: absolute;
  top: 30px;
  left: 320px;
  z-index: 99;
  font-weight: 400;
}

#gnb > .depth1 li {
  /* outline: 1px solid red; */
  float: left;
  width: 120px;
  text-align: center;
  height: 75px;
}

#gnb > .depth1 li a {
  display: block;
/*  outline: 1px solid red;*/
  line-height: 42px;
  text-transform: uppercase;
  font-weight: 500;
}

#gnb > .depth1 > li > a:hover {
  background-color: #00286c;
  color: #fff;
  transition-duration: 0.3s;
}

/* depth2 */
#gnb .depth2 {
  /* background: rgba(255, 255, 255, 0.92); */
  /* background: #ccc; */
  height: 215px;
  font-size: 14px;
  display: none;
  margin-top: 20px;
  line-height: 32px;
  padding: 24px 0;
  width: calc(100% / 5);
  position: absolute;
}
#gnb .depth2 li {
  /* outline: 1px solid red; */
  height: 43px;
}

#gnb .depth2 a {
  width: 100%;
  display: block;
}
#gnb .depth2 a:hover {
  font-weight: bold;
}
#gnb > .depth1 > li > a:hover > .depth1 li {
  outline: 1px solid red;
  background-color: #00286c;
}

#gnb .depth2 a::after {
  /* outline: 1px solid red; */
  content: "";
  display: block;
  width: 115px;
  height: 3px;
  background-clip: content-box;
  transition-duration: 0.8s;
  margin: 0 auto;
  position: relative;
  top: -5px;
}
#gnb .depth2 li:hover a::after{
  background: #00286c;
  background-clip: content-box;
  margin: 0 auto;
}
#gnb_bg {
  position: absolute;
  top: 105px;
  width: 100%; height: 0px;
  min-width: 1200px;
  /* height: 240px; */
  background: rgba(255, 255, 255, 0.8);
  z-index: 1;
  transition: 0.3s;
  /* outline: 1px solid red; */
}
#gnb_bg.show {
  height: 240px;
  background: rgba(255, 255, 255, 0.9);
  /* outline: 1px solid red; */
}



  /* main_banner */
#visual {
  /* outline: 1px solid red; */
  max-width: 1200px;
  min-width: 1200px;
  height: 655px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 105px;
}
.section1 {
  background-image: url('../images/gra.jpg');
  /* background-color: #00286c; */
  background-size: cover;
}


/* 투자를 시작하시나요? */
.section2 {
  width: 100%;
  background: #F7F7F7;
  margin: 0 auto;
  padding-bottom: 100px;
}
.section2 > #inv_start {
  text-align: center;
  padding-bottom: 100px;
}
.section2 > #inv_start > .inv_text {
  width: 1200px;
  margin: 0 auto;
}
.section2 > #inv_start > .inv_text > h2 {
  color: #00286c;
  font-size: 40px;
  padding-top: 100px;
  padding-bottom: 25px;
}
.section2 > #inv_start > .inv_text > p {
  font-size: 28px;
}
.swiper-all {
  position: relative;
}
.swiper-container {
  width: 1115px;
  /* outline: 1px solid red; */
}
.swiper-slide {
  width: 250px!important;
  /* box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.16) */
}
#btn {
  width: 1200px;
  position: relative;
  margin: 0 auto;
  /* outline: 1px solid green; */
}
#btn > .swiper-button-prev {
  left: 0;
  top: -120px;
}
.swiper-button-next {
  right: 5px;
  top: -120px;
}
#btn > .swiper-button-prev:focus,
#btn > .swiper-button-next:focus {
  outline: none;
}

/* 펀드투자 가이드북 */
.section3 {
  /* margin: 0 auto; */
  width: 100%;
  height: 200px;
  background-image: url('../images/guide_banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /* text-align: center; */
}
.section3 > #guide {
  /* outline: 1px solid red; */
  padding-top: 45px;
  font-size: 35px;
  color: #fff;
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}
.section3 > #guide > p {
  /* padding-top: 17px; */
  font-size: 24px;
}

/* 투자 전 확인하세요! */
.section4 {
  width: 1200px;
  height: 761px;
  margin: 0 auto;
  /* outline: 1px solid red; */
}
.section4 > #check_txt {
  text-align: center;
  padding-top: 100px;
  margin-bottom: 50px;
}
.section4 > #check_txt > h1 {
  color: #00286c;
  font-size: 40px;
  padding-bottom: 20px;
}
#check_box {
  
}
.section4 > #check_txt > p {font-size: 28px; font-weight: 300;}
#check_box > .check_box1 {
  width: 500px; height: 350px;
  float: left;
  left: 75px;
}
#check_box > .check_box2{
  width: 500px; height: 350px;
  float: right;
  right: 75px;
}
#check_box > .check_box1 {
  background-image: url('../images/check01.jpg');
  position: relative;
}
#check_box > .check_box2 {
  background-image: url('../images/check02.jpg');
  position: relative;
}
/* check_box1 */
#check_box > .check_box1 > .check_box_txt {
  width: 440px; height: 164px;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#check_box > .check_box1 > .check_box_txt > p {
  font-size: 24px;
  font-weight: 300;
}
#check_box > .check_box1 > .check_box_txt > p > span {
  font-size: 14px;
  font-weight: 400;
  color: #00286c;
}
/* check_box2 */
#check_box > .check_box2 > .check_box_txt {
  width: 440px; height: 164px;
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  bottom: 30px;
  left: 30px;
}
#check_box > .check_box2 > .check_box_txt > p {
  font-size: 24px;
  font-weight: 300;
}
#check_box > .check_box2 > .check_box_txt > p > span {
  font-size: 14px;
  font-weight: 400;
  color: #00286c;
}
