/* sub2_1.css */

/* sub main_banner */
#banner .banner_img{
  background-image: url(../images/sub2_1_main.png);
}
#banner .banner_text {
  color: #00286c;
}
.banner_text > h1 {
  left: 140px;
}
.banner_text > h1 span {
  font-weight: 600;
}
.banner_text > p {
  position: absolute;
  bottom: 190px; left: 140px;
}



/* lnb */
#lnb .lnb > li {
  width: calc(1200px / 2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}

/* main  */
/* content */
#fund {
  /* outline: 1px solid red; */
  position: relative;
  width: 1200px; height: 1500px;
  margin: 0 auto;
  top: 110px;
}
#fund > #fund_text {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}
#fund > #fund_text > h2 {
  font-size: 22px;
  font-weight: 700;
}
#fund > #fund_text > h3 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

#fund > #fund_list {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}
.col_4 {
  background: #F7F8FA;
  outline: 1px solid #D6D6D6;
  padding: 45px;
}
.col_4 .paragraph01 {
  width: 110px; height: 25px;
  outline: 1px solid #C7C7C8;
}
.col_4 .paragraph01 > p{
  /* outline: 1px solid red; */
  display: inline;
  font-size: 12px;
  letter-spacing: -1px;
}
.col_4 .paragraph01 > p:first-child {
  background: #00286c;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px; height: 25px;
  position: absolute;  
  padding-top: 4px;
}
.col_4 .paragraph01 > p:last-child{
  color: #8B0000;
  padding-left: 40px;
  display: inline-block;
}
.col_4 .paragraph02{
  margin-top: 30px;
}
.col_4 .paragraph02 > h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -1px;
}
.col_4 .paragraph02 > h3 {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
}
.col_4 .paragraph03 {
  margin-top: 40px;
}
.col_4 .paragraph03 > h4 {
  color: #00286C;
  font-size: 16px;
}
.col_4 .paragraph03 > p {
  color: #707070;
  font-size: 18px;
}
