/* sub2_1.css */
/* 메인컬러: #00286c */


*{
    margin: 0; padding: 0;
    box-sizing: border-box;
  }
html {
    scroll-behavior: smooth;
  }
a {
    text-decoration: none !important;
    color: #203053;
  }
ul {list-style-type: none;}
body {
    font-family: 'Noto Sans KR', sans-serif;
}


/* header */
#header_wrap {
  /* outline: 1px solid red; */
  position: relative;
  width: 100%; height: 100px;
}
#main_header {
    /* outline: 1px solid blue; */
    position: relative;
    margin: 0 auto;
    width: 1200px;
    height: 100px;
}
#main_header img {
  width: 100%;
}
/* logo */
#main_header > h1 > a {
    /* outline: 1px solid red; */
    position: absolute;
    top: 25px;
    /* left: 35px; */
}
/* language */
#main_header > .language {
    /* outline: 1px solid red; */
    position: absolute;
    top: 40px;
    right: 0px;
    word-spacing: 7px;
  }
  #main_header > .language > li {
    float: left;
    text-transform: uppercase;
  }
  #main_header > .language > li:first-child {
    font-weight: bold;
  }

/* gnb */
#gnb {
    /* outline: 1px solid red; */
    width: 1200px;
    margin: 0 auto;
    position: relative;
}
/* depth1 */
#gnb > .depth1 {
    /* outline: 1px solid red; */
    position: absolute;
    top: 30px;
    left: 350px;
    z-index: 99;
    font-weight: 400;
  }
  
  #gnb > .depth1 li {
    /* outline: 1px solid red; */
    float: left;
    width: 140px;
    text-align: center;
    height: 75px;
  }
  
  #gnb > .depth1 li a {
    display: block;
  /*  outline: 1px solid red;*/
    line-height: 42px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
  #gnb > .depth1 > li > a:hover {
    background-color: #00286c;
    color: #fff;
    transition-duration: 0.3s;
  }
  
  /* depth2 */
  #gnb .depth2 {
    /* background: rgba(255, 255, 255, 0.92); */
    /* background: #ccc; */
    height: 215px;
    font-size: 14px;
    display: none;
    margin-top: 20px;
    line-height: 32px;
    padding: 24px 0;
    width: calc(100% / 5);
    position: absolute;
    
  }
  #gnb .depth2 li {
    /* outline: 1px solid red; */
    height: 43px;
  }

  #gnb .depth2 a {
    width: 100%;
    display: block;
  }
  #gnb .depth2 a:hover {
    font-weight: bold;
  }
  #gnb > .depth1 > li > a:hover > .depth1 li {
    outline: 1px solid red;
    background-color: #00286c;
  }

  #gnb .depth2 a::after {
    /* outline: 1px solid red; */
    content: "";
    display: block;
    width: 115px;
    height: 3px;
    background-clip: content-box;
    transition-duration: 0.8s;
    margin: 0 auto;
    position: relative;
    top: -5px;
}
#gnb .depth2 li:hover a::after{
    background: #00286c;
    background-clip: content-box;
    margin: 0 auto;
}
#gnb_bg {
    position: absolute;
    top: 100px;
    width: 100%; height: 0px;
    min-width: 1200px;
    /* height: 240px; */
    background: rgba(255, 255, 255, 0.8);
    z-index: 1;
    transition: 0.3s;
    /* outline: 1px solid red; */
}
#gnb_bg.show {
    height: 240px;
    background: rgba(255, 255, 255, 0.9);
    /* outline: 1px solid red; */
}



/* sub main_banner */

#banner {
  /* outline: 1px solid red; */
  width: 100%;
  height: 330px;
  margin: 0 auto;
  position: relative;
  top: 110px;
}
#banner .banner_img{
  height: 330px;
  background-image: url(../images/sub2_1_main.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#banner .banner_text {
  width: 1200px; 
  margin: 0 auto;
  position: relative;
}
.banner_text > h1 {
  font-size: 35px;
  position: absolute;
  bottom: 145px; left: 140px;
}
.banner_text > h1 span {
  font-weight: 600;
}
.banner_text > p {
  font-size: 15px;
  position: absolute;
  bottom: 190px; left: 140px;
}



/* lnb */
#lnb {
  position: relative;
  top: 110px;
  width: 1200px;
  height: 50px;
  margin: 0 auto;
}
#lnb .lnb {
  position: absolute;
}
#lnb .lnb > li {
  float: left;
  color: #000;
  width: calc(1200px / 2);
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  line-height: 50px;
  border-bottom: 2px solid #00286c;
}
#lnb > .lnb > li > a {
  display: block;
  color: #000;
  font-size: 15px;
  font-weight: 500;
}
#lnb > .lnb > li > a.active {
  color: #fff;
  background: #00286c;
}



/* breadcrumb */
.breadcrumb {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  top: 115px;
  background: #fff;
  position: relative;
  padding-top: 10px;
  padding-left: 1000px;
  overflow: hidden;
}
.breadcrumb > a {
  /* outline: 1px solid red; */
  font-size: 12px;
}



/* main  */



/* content */
#fund {
  /* outline: 1px solid red; */
  position: relative;
  width: 1200px; height: 1500px;
  margin: 0 auto;
  top: 110px;
}
#fund > #fund_text {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  text-align: center;
  margin-top: 150px;
}
#fund > #fund_text > h2 {
  font-size: 22px;
  font-weight: 700;
}
#fund > #fund_text > h3 {
  font-size: 16px;
  font-weight: 400;
  margin-top: 15px;
}

#fund > #fund_list {
  /* outline: 1px solid red; */
  width: 1200px;
  margin: 0 auto;
  margin-top: 70px;
}
.col_4 {
  background: #F7F8FA;
  outline: 1px solid #D6D6D6;
  padding: 45px;
}
.col_4 .paragraph01 {
  width: 110px; height: 25px;
  outline: 1px solid #C7C7C8;
}
.col_4 .paragraph01 > p{
  /* outline: 1px solid red; */
  display: inline;
  font-size: 12px;
  letter-spacing: -1px;
}
.col_4 .paragraph01 > p:first-child {
  background: #00286c;
  color: #fff;
  text-align: center;
  display: inline-block;
  width: 35px; height: 25px;
  position: absolute;  
  padding-top: 4px;
}
.col_4 .paragraph01 > p:last-child{
  color: #8B0000;
  padding-left: 40px;
  display: inline-block;
}
.col_4 .paragraph02{
  margin-top: 30px;
}
.col_4 .paragraph02 > h2 {
  font-size: 26px;
  font-weight: 600;
  line-height: 35px;
  letter-spacing: -1px;
}
.col_4 .paragraph02 > h3 {
  color: #707070;
  font-size: 16px;
  font-weight: 300;
}
.col_4 .paragraph03 {
  margin-top: 40px;
}
.col_4 .paragraph03 > h4 {
  color: #00286C;
  font-size: 16px;
}
.col_4 .paragraph03 > p {
  color: #707070;
  font-size: 18px;
}








/* footer */
#main_footer {
  width: 100%;
  margin: 0 auto;
}
.line {
  border: 1px solid #00286c;
}
#main_footer > .footer_menu {
  width: 1200px;
  margin: 0 auto;
}
#main_footer > .footer_menu > a {
  margin-right: 10px;
}
#main_footer > .footer_menu > a > span {
  color: #00286c;
  font-weight: 700;
}
/* 로고 */
#main_footer > .footer_menu > .footer_logo > a img{
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 50px;
  float: left;
  /* outline: 1px solid blue; */
}
/* footer_menu2 */
#main_footer > .footer_menu > .footer_menu2 {
  float: left;
  /* height: 150px; */
  position: relative;
  margin: 0 auto;
  padding: 0;
}
#main_footer > .footer_menu > .footer_menu2 p:first-child {
  margin-top: 16px;
}
#main_footer > .footer_menu > .footer_menu2 p {
  font-size: 14px;
  margin-bottom: 0.5rem;
}
#main_footer > .footer_menu > .footer_menu2 p a {
  color: #6a6a6a;
}

#main_footer > .footer_menu > .footer_menu2 > .copy {
  font-weight: 300;
  color: #6a6a6a;
  padding-top: 10px;
}
/* footer_menu3 */
#main_footer > .footer_menu > .footer_menu3 {
  float: left;
  height: 150px;
  padding-left: 15px;
  padding-top: 43px;
}
#main_footer > .footer_menu > .footer_menu3 > p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0.5rem;
}



/* 맨위로 */
.pagetop_fixed{
  /* outline: 1px solid red; */
  position:fixed;
  right: 100px; 
  top:auto;
  bottom:418px;
  background-color: #00286C;
  bottom:150px;
  z-index: 999;
}
.pagetop_fixed a{
  color: white;
  display: block;
  padding: 25px 18px;
  font-size: 18px;
  font-weight: 300;
}
.pagetop_fixed a:hover {
  font-weight: 400;
  text-shadow: black;
}
